<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>О нас</title>
	<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <% include blocks/header.ejs %>
  <div class="block">
	<h1>О нас</h1>
	<p>Девочки кричат, мальчики хлопают в ладоши, какие мы п****тые[отличные], какие мы хорошие!</p>
  </div>
</body>
</html>