<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Новости</title>
	<style>
		body {background-color: #98bfd5;}
		.block {text-align: center; width: 70%; margin-left: 15%}
		h1 {color: #494949; font-size: 3.5em}
		p {color: #494949; font-size: 1.2em}
	</style>
</head>
<body>
	<div class="block">
		<h1>Новостная страница</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et enim laudantium optio nisi adipisci eveniet ullam eligendi ab magni iusto voluptatum eaque, id qui ipsum maiores minima, esse officia expedita dolorum ut ipsa quasi aut itaque cumque. Eaque praesentium perspiciatis, delectus quidem sit corrupti cumque laudantium illum eveniet, culpa aut, ipsa quaerat cum ducimus fugit? Ipsum recusandae illum eaque accusantium quam culpa ex repudiandae et, voluptate porro sequi libero necessitatibus veniam non nobis assumenda vero dolore suscipit, iure sunt deleniti commodi doloremque? Illum corporis quos quod labore nihil culpa tempore, inventore necessitatibus a dicta eveniet tempora minima quia eaque iste. At, quibusdam sapiente. Error, dolorum, similique doloribus recusandae dignissimos soluta nulla, ipsam id quis ipsum sit odit blanditiis. Obcaecati esse vitae, temporibus animi sint autem ipsam, quisquam unde, quae laborum ad corporis officia quis excepturi! Vero id adipisci eveniet quo voluptas quas, quis est! Officia modi molestias quo qui beatae est cum vero ullam eaque nesciunt maiores deserunt et alias dolorem iusto vitae dolorum nemo excepturi enim eveniet perferendis, quisquam fuga dolore. Nesciunt dolore nulla, harum ad, magni sequi iure blanditiis ratione nihil, reprehenderit dolorem! Reiciendis animi harum hic, ullam quaerat, voluptatem quod porro perferendis numquam fugiat voluptate aperiam debitis natus odit magni beatae placeat explicabo rem eaque totam iste non eveniet. Quis, blanditiis provident laudantium? Corrupti similique veritatis voluptatem impedit porro fugit nesciunt excepturi, aperiam nisi magnam dolorum error delectus laudantium repudiandae sapiente in commodi animi, consectetur amet et. Odio dolorum ea inventore autem, ad eum et quae, tempora aliquid! Tempora molestiae dolorem impedit adipisci soluta, aut recusandae voluptates quo qui officiis eius alias itaque mollitia obcaecati asperiores maxime similique enim dolor, doloremque culpa voluptatem quasi! Optio voluptates totam, fugiat ullam temporibus ea, hic, facilis tempora, tempore dolorum rerum eius odio corporis iste dolorem quis nulla aut. Molestias, eligendi!</p>
	</div>
</body>
</html>